@import "vars";

.header {
  @extend %line-after;
  background: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  height: 58px;

  &--logo {
    img {
      padding-left: 10px;
    }

    @media (max-width: 491px) {
      .line--ver {
        display: none;
      }
    }
  }

  &--contacts {
    margin-left: auto;
  }

  &--requests {
    margin-left: auto;
  }

  @media (max-width: 491px) {
    &--contacts {
      display: none;
    }

    &--requests {
      margin-left: auto;
    }
  }

  @media (min-width: $desktopSize) {
    display: none;
  }
}
