@import "vars";
@import "more-info";

.info {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  flex-wrap: wrap;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }

  &__two-columns {
    padding-bottom: 10px;
  }

  &__full {
    display: none;

    &--show {
      display: block;
    }
  }

  &__figure {
    margin-left: -16px;
    margin-right: -16px;
    max-width: 560px;
    padding-left: 5px;
    width: 100%;
    height: auto;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  @media (min-width: $mobileSize) {
    &__two-columns {
      div {
        padding: 10px;
      }
    }
  }

  @media (min-width: 528px) {
    flex-direction: row;

    &__full {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &--show {
        overflow: visible;
        white-space: normal;
      }
    }

    &__content {
      width: 48%;
    }

    &__figure {
      width: 48%;
      margin: 0;
    }

    &__image {
      border-radius: 5px;
    }
  }

  @media (min-width: $desktopSize) {
    &__full {
      display: block;
      overflow: visible;
      white-space: normal;
    }
  }
}
