@import "vars";

.input {
  border: 1px solid $lighterText;
  color: $lighterText;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background: #FFFFFF;

  &.input__collapsed {
    border-radius: 50px;
  }
}
