@import "vars";

.item-marker {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 5px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    border-right: 1px solid #41F6D7;
    border-left: 1px solid #41F6D7;
    border-radius: 25%;
    width: 1px;
    background-color: #41F6D7;
    top: 0;
    left: -2px;
    height: 100%;
    z-index: 3;

    @media (max-width: $mobileSize) {
      left: -3px;
      width: 5px;
      border-radius: 25%;
    }
  }
}
