.line {
  border-top: 1px;
  border-color: rgba(65, 246, 215, 0.5);
  margin-left: -16px;
  height: 1px;
  width: 100%;
}

.line--ver {
  &::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 32px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #EAEAEA;
  }
}
