@import "title";
@import "info";
@import "swiper";
@import "footer";
@import "line";
@import "sidebar";
@import "vars";

.main {
  padding: 1rem 0;
  overflow: visible;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (max-width: $desktopSize) {
    overflow: hidden;
    flex-wrap: nowrap;
  }

  h1, h2, nav, .info {
    padding-left: 1rem;
  }

  &__head {
    display: flex;

    .header--requests {
      margin-left: auto;
      font-size: 16px;
      font-family: "TT Lakes Medium", sans-serif;
      padding-right: 10px;

      a {
        margin: 0 10px;
      }

      @media (max-width: $desktopSize) {
        display: none;
      }
    }
  }
}

