@import "info";
@import "swiper";
@import "footer";
@import "line";
@import "sidebar";
@import "vars";

.main {
  padding: 1rem 0;
  overflow: visible;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (max-width: $desktopSize) {
    overflow: hidden;
    flex-wrap: nowrap;
  }

  h1, h2, nav, .info {
    padding-left: 1rem;
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
  }

  &__requests {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    padding-right: 10px;

    @media (max-width: $desktopSize) {
      display: none;
    }
  }

  &__head-link {
    font-size: 16px;
    font-family: "TT Lakes Medium", sans-serif;
  }
}

