@import "vars";
@import "item-marker";
@import "form";

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #FFFFFF;
  top: 0;
  z-index: 2;
  padding: 15px 15px;
  min-width: 280px;
  transition: all .5s;
  justify-content: flex-start;
  height: 100vh;

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__link {
    &::before {
      left: -17px;
    }

    &--active {
      color: $lighterText;
    }
  }

  &__email {
    padding-top: 20px;
  }

  &--main {
    left: -450px;
    font-size: 16px;
    font-family: "TT Lakes Medium", sans-serif;
    //width: 330px;
    min-height: 680px;
    min-width: 290px;
    width: 100%;
    max-width: 330px;
    overflow: visible;

    &__phone {
      font-size: 24px;
      font-family: "TT Lakes Bold", sans-serif;
      padding-top: 15px;
      padding-bottom: 40px;
    }

    &.sidebar--show {
      transform: translateX(450px);
      box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    }

    &__nav {
      line-height: 24px;
      flex-grow: 1;
    }

    &__contacts {
      //margin-top: auto;
      flex-grow: 5;
      padding-left: 10px;
      padding-bottom: 40px;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 10px 10px;

      &--logo {
        display: flex;
        align-items: center;
      }
    }

    //mob and middle
    @media (max-width: $desktopSize) {
      position: absolute;
    }

    //desktop only
    @media (min-width: $desktopSize) {
      display: flex;
      position: static;
      box-shadow: none;
      border-right: 1px solid $borderColor;
      width: 290px;
      padding-left: 30px;

      &__top {
        justify-content: flex-start;
      }
      .button--close {
        display: none;
      }

      &__search {
        padding-left: 50px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 14px;
        top: -20px;
        height: 90%;
        border-left: 1px solid $borderColor;
      }
    }
  }

  &--modal {
    right: -450px;
    width: 100%;
    min-height: 680px;
    z-index: 3;
    position: absolute;
    max-width: 360px;
    box-sizing: border-box;

    @media (min-width: $mobileSize) {
      max-width: 410px;
      border-left: 1px solid $borderColor;
    }

    @media (min-width: 460px) {
      &.sidebar--show {

        .sidebar--modal__close {
          transform: translate(-65px, 25px);
        }
      }
    }

    &.sidebar--show {
      display: flex;
      transform: translateX(-450px);
      box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    }
  }

  //flex-wrap: nowrap;
  //width: 100%;
  //max-width: 360px;
  //min-height: 680px;
  //min-width: 320px;
  //padding-top: 20px;
  //
  //&--wrap {
  //  padding-left: 10px;
  //  display: flex;
  //  flex-direction: column;
  //  height: 90%;
  //  max-height: 950px;
  //}
  //
  //
  //@media (min-width: $mobileSize) {
  //  &--wrap {
  //    position: relative;
  //    padding-left: 25px;
  //
  //  }
  //}
  //
}
