@import "swiper-orig";
@import "button";

.swiper-container {
  width: 90%;
  height: 100%;
  padding: 0 30px 30px 15px;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 9px;
    top: 0;
    width: 25px;
    height: 100%;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    z-index: 1;
    @media (min-width: $mobileSize) {
      display: none;
    }
  }

  &--nav {
    a {
      color: #7E7E82;
    }
  }

  @media (min-width: $desktopSize) {
    &--nav {
      overflow: visible;
      position: static;
      width: auto;

      .swiper-wrapper {
        overflow: visible;
        flex-wrap: wrap;
        position: static;
        width: auto;
        transform: none !important;
      }
    }
  }

  @media (min-width: $mobileSize) {
    &--mob {
      position: static;
      width: auto;
      padding-right: 0;
      transition: padding-bottom .5s;
      .swiper-wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
        position: static;
        width: auto;
        transform: none !important;
      }
      .swiper-slide {
        margin-bottom: 15px;
      }
    }

    &--brand {
      &--expand {
        padding-bottom: 100px;
      }

      .swiper-wrapper {
        height: 110px;
      }
    }

    &--service {
      &--expand {
        padding-bottom: 230px;
      }

      .swiper-wrapper {
        height: 150px;
      }
    }

    &--price {
      .swiper-wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;

        .swiper-slide--price {
          flex-wrap: nowrap;
          max-width: 100%;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0;
          border: none;
          border-bottom: 1px solid #EAEAEA;
          border-radius: 0px;
          height: 33px;
          overflow: hidden;

          div span:first-child {
            display: none;
          }

          div:first-child {
            flex-grow: 2;
          }

          div:nth-child(2) {
            min-width: 75px;
          }

          div:nth-child(3) {
            width: auto;
            min-width: 220px;
            margin-left: 5px;

          }
        }
      }
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 16px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 15px;
    width: auto;


    &--active {
      background-color: $lighterBg;
      border: 2px solid #B8FFEC;;
      border-radius: 6px;
      color: #7E7E82;
    }

    &--box {
      background-color: $lighterBg;
      border: 1px solid #EAEAEA;
      border-radius: 6px;
      max-width: 208px;
      min-width: 192px;
      height: 50px;
      justify-content: space-between;
    }

    &--brand {
      height: 40px;
    }

    &--service {
      align-items: flex-start;
      height: 160px;
      font-size: 16px;
      font-family: "TT Lakes Medium", sans-serif;

      .icon {
        align-self: flex-end;
      }
    }

    &--price {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      text-align: left;
      min-width: 232px;
      height: 178px;
      font-size: 14px;

      div {
        display: flex;
        flex-direction: column;

        &:nth-child(3) {
          flex-direction: row;
          align-items: center;

          button {
            margin-left: auto;
          }
        }

        span:first-child {
          color: #7E7E82;;
        }
      }
    }
  }

  .swiper-pagination {
    bottom: 10px;

    &-bullet {
      width: 12px;
      height: 12px;
      background: #DDDDDD;

      &-active {
        background: #B5B6BC;
      }
    }

    @media (min-width: $mobileSize) {
      display: none;
    }
  }
}
