$borderColor: rgba(65, 246, 215, 0.5);
$lighterText: #7E7E82;
$border: 1px solid $borderColor;
$iconsColor: #FF3E79;
$mobileSize: 362px;
$desktopSize: 770px;
$lighterBg: #FFFFFF;


%line-after {
  border-bottom: $border;
}

%line-before {
  border-top: $border;
}

%icon-params {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
