@import "normalize";
@import "header";
@import "main";
@import "vars";

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.eot');
  src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Regular.woff') format('woff'),
  url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.eot');
  src: url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Medium.woff') format('woff'),
  url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.eot');
  src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Bold.woff') format('woff'),
  url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "TT Lakes Regular", sans-serif;
  font-size: 14px;
  background-color: #F8F8F8;
  color: #1B1C21;
  overflow-x: hidden;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px;
    }
  }

  a {
    text-decoration: none;
    color: $iconsColor;

    &:hover, &:focus {
      color: #FF3E79;
    }
  }



  .page {
    position: relative;
    transition: opacity .5s;
  }

  .page--inactive {
    opacity: 0.04;

  }

  @media (min-width: $desktopSize) {
    display: flex;
  }
}
